#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #4b4e50;
    color: #45a174 ;
}

main{
    flex: 1 0 auto;
}

.grey.darken-3{
    width: 100% !important;
    background-color: #343637 !important;
}

.page-footer>.container, .footer-copyright>.container{
    width: 100%;
}